html, body {
  /*height: 100vh;
  width: 100vw;*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', 'Helvetica' sans-serif;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Frijole', sans-serif;
  display: inline;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
