.l-wordmark-container {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.l-navigation {
  position: fixed;
  bottom: 0;
}

.l-nav-list-item {
  width: calc((100% / 4) - 3px);
}

.l-home {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.l-loc-list li {
  margin: 0 0 20px;
}

.l-menu-list {
  color: red;
  text-align: left;
  margin: 0 -15px;
}

.l-menu-item {
  margin: 20px 0;
}

.l-show-hide {
  float: right;
  margin-right: 15px;
}
