.l-wordmark-container {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.l-navigation {
  position: absolute;
  bottom: 0;
}

.l-nav-list-item {
  width: calc((100% / 4) - 3px);
}

.l-home {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
