.l-wordmark-container {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.l-navigation {
  position: absolute;
  bottom: 0;
}

.l-nav-list-item {
  width: calc((100% / 4) - 3px);
}

.l-pane {
  margin-top: calc(80.6px - (80.4px * 0.2));
  /*border: thin solid green;*/
}
