.m-pane {
  width: 100%;
  height: calc(100vh - 50.4px);
  /*background: url("../images/burrito.jpeg");*/
  overflow: scroll;
  padding: 0;
}

.m-home {
  width: 100%;
}

.m-about {
  padding: 10px 0px 50px;
}

.m-loc-list {
  text-align: left;
  margin: 80px 0 0;
}

.m-address {
  display: inline-block;
}

.m-menu-header {
  width: 100%;
  padding: 12px;
}

.m-category-list {
  transition: height 0.2s, overlow 0.2s;
  padding: 0 12px;
}

.m-category-list li {
  padding-bottom: 10px;
  display: block;
}

.m-map {
  width: 100%;
  height: 162px;
  background: gray;
}
