.m-wordmark-container {
  width: 250px;
  padding: 10px 15px 20px;
  background: #C02520;
  clip-path: polygon(0% 0%, 100% 0%, 97% 80%, 50% 100%, 3% 80%);
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 97% 80%, 50% 100%, 3% 80%);
  transition: clip-path 0.2s, width 0.2s;
  -webkit-transition: -webkit-clip-path 0.2s, width 0.2s;
}

.m-navigation {
  width: 100%;
  background: #C02520;
  /*padding: 10.2px 0;*/
}

.m-pane {
  width: 100%;
  height: calc(100vh - 48.4px);
  /*background: url("../images/burrito.jpeg");*/
  overflow: scroll;
  padding: 0;
}

.m-home {
  width: 100%;
}

.m-about {
  padding: 10px 0px 50px;
}

.m-loc-list {
  text-align: left;
}

.m-address {
  display: inline-block;
}

.m-menu-header {
  width: 100%;
  padding: 8px;
}

.m-category-list {
  transition: height 0.2s, overlow 0.2s;
}

.m-category-list li {
  padding-bottom: 0;
}
