.m-wordmark-container {
  width: 250px;
  padding: 10px 15px 20px;
  background: red;
  clip-path: polygon(0% 0%, 100% 0%, 97% 80%, 50% 100%, 3% 80%);
}

.m-navigation {
  width: 100%;
  background: red;
  /*padding: 10.2px 0;*/
}

.m-pane {
  width: 100%;
  height: calc(100vh - 48.4px);
  background: url("../images/burrito.jpeg");
  background-size: cover;
  background-position: 20%;
  overflow: scroll;
  padding: 0;
}
