/*
* Base styles
*/

html, body {
  /*height: 100vh;*/
  /*width: 100vw;*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: white;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.8;
  color: #222222;
}

body {
  /*height: 100vh;*/
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Frijole', sans-serif;
  display: inline;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}


/*
* Wordmark container
*/

.wordmark-container {
  width: 250px;
  padding: 10px 15px 20px;
  background: #C02520;
  clip-path: polygon(0% 0%, 100% 0%, 97% 80%, 50% 100%, 3% 80%);
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 97% 80%, 50% 100%, 3% 80%);
  transition: clip-path 0.2s, width 0.2s;
  -webkit-transition: -webkit-clip-path 0.2s, width 0.2s;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.wordmark {
  color: white;
  /*text-shadow: 2px 2px #5FAD41;*/
  font-size: 28px;
}
