/*
* Base styles
*/

html, body {
  /*height: 100vh;*/
  /*width: 100vw;*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: white;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.8;
  color: #222222;
}

body {
  /*height: 100vh;*/
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Frijole', sans-serif;
  display: inline;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}


/*
* Wordmark container
*/

.wordmark-container {
  width: 250px;
  padding: 10px 15px 20px;
  background: #C02520;
  clip-path: polygon(0% 0%, 100% 0%, 97% 80%, 50% 100%, 3% 80%);
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 97% 80%, 50% 100%, 3% 80%);
  transition: clip-path 0.2s, width 0.2s;
  -webkit-transition: -webkit-clip-path 0.2s, width 0.2s;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.wordmark {
  color: white;
  /*text-shadow: 2px 2px #5FAD41;*/
  font-size: 28px;
}

.tagline {
  font-size: 15px;
  text-shadow: 0.5px 0.5px 0 white, -0.5px -0.5px 0 white;
  color: #0B132B;
}

/*
* Nav bar styles
*/

.navigation {
  width: 100%;
  background: #C02520;
  /*padding: 10.2px 0;*/
  position: fixed;
  bottom: 0;
}

.nav-list-item {
  width: calc((100% / 4) - 3px);
  color: white;
  font-size: 22px;
  text-align: center;
}

.nav-name {
  font-size: 10px;
  margin: -8px 0 0;
}

.home {
  color: #ffffb0;
}

.t-fa {
  text-shadow: 1px 1px 3px rgb(51,51,51);
  padding: 8px 0 0;
  width: 48.4px;
}

.t-fa:active {
  color: yellow;
  /* text-shadow: -1px -1px 3px rgb(51,51,51); */
  /* border-radius: 50%; */
}

/*
* Pane settings
*/

.pane {
  width: 100%;
  height: calc(100vh - 50.4px);
  /*background: url("../images/burrito.jpeg");*/
  overflow: scroll;
  padding: 0;
  background: linear-gradient(
    rgba(11,19,43,0.8),
    rgba(11,19,43,0.8)
  ), url("../images/burrito.jpeg");
  background-size: cover;
  background-position: 20%;
}

.pane h2 {
  /*margin-top: 80px;*/
  text-align: center;
  display: block;
  padding: 20px;
  color: #fde74c;
}

/*
* Home styles
*/

.home-section {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-header {
  margin: none;
  font-size: 6vw;
}
