.t-about {
  /*background: rgba(255,255,255,0.8);*/
  height: 100%;
  text-align: center;
  overflow: scroll;
}

.t-about h2 {
  margin: 50px auto 40px;
}

.t-about p {
  text-align: left;
  /*color: white;*/
  font-size: 14px;
}

.t-about-text {
  line-height: 2;
  color: white;
  padding: 0 12px;
}

.t-about-img {
  width: 100%;
  /* border-radius: 50%; */
  margin: 42px 0 20px;
  /* border: thick solid white; */
}

.t-loc-img {
  border-radius: none;
  border: none;
  width: 40%;
  float: left;
  margin: 10px;
}

.t-loc-list p {
  margin: 0;
  color: white;
  line-height: 1.5;
}

.t-menu-item-name {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.t-menu-item {
  /* background: #F9F9EB; */
  margin: 5px 0;
  /* padding: 7px; */
  width: 100%;
}

.t-menu-header {
  /* background: linear-gradient(#E3E3D6, #F9F9EB); */
  background: #f9f9eb;
  /*box-shadow: 0 0 20px black;*/
}

.t-menu-text {
  color: black;
  line-height: 1.5;
  margin: 0;
}

.t-category {
  border-left: 5px solid red;
  padding-left: 10px;
  font-size: 4.5vw;
}

.t-category-list {
  background: white;
}

.t-menu-pic {
  width: 100%;
  margin: 42px 0 5px;
}
