.t-wordmark {
  color: white;
  /*text-shadow: 2px 2px #5FAD41;*/
  font-size: 28px;
}

.t-tagline {
  font-size: 15px;
  text-shadow: 0.5px 0.5px 0 white, -0.5px -0.5px 0 white;
  color: #0B132B;
}

.t-nav-list-item {
  color: white;
}

.t-fa {
  text-shadow: 1px 1px 3px rgb(51,51,51);
  padding: 10.2px;
  width: 48.4px;
}

.t-fa:active {
  color: #eee;
  text-shadow: -1px -1px 3px rgb(51,51,51);
  background: rgba(51,51,51,0.3);
  border-radius: 50%;
}

.t-pane {
  background: linear-gradient(
    rgba(11,19,43,0.8),
    rgba(11,19,43,0.8)
  ), url("../images/burrito.jpeg");
  background-size: cover;
  background-position: 20%;
}

.t-pane h2 {
  /*margin-top: 80px;*/
  text-align: center;
  display: block;
  padding: 20px;
  color: #fde74c;
}

.t-about {
  /*background: rgba(255,255,255,0.8);*/
  height: 100%;
  text-align: center;
  overflow: scroll;
}

.t-about h2 {
  margin: 50px auto 40px;
}

.t-about p {
  text-align: left;
  /*color: white;*/
  font-size: 14px;
}

.t-about-text {
  line-height: 2;
  color: white;
}

.t-about-img {
  width: 50%;
  border-radius: 50%;
  margin: 0 10px 60px;
  border: thick solid white;
}

.t-home-header {
  margin: none;
  font-size: 6vw;
}

.t-loc-img {
  border-radius: none;
  border: none;
  width: 40%;
  float: left;
  margin: 10px;
}

.t-loc-list p {
  margin: 0;
  color: white;
  line-height: 1.5;
}

.t-menu-item-name {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.t-menu-item {
  background: #F9F9EB;
  margin: 5px 0;
  /* padding: 7px; */
  width: 100%;
}

.t-menu-header {
  background: linear-gradient(#E3E3D6, #F9F9EB);
  /*box-shadow: 0 0 20px black;*/
}

.t-menu-text {
  color: black;
  line-height: 1.5;
  margin: 0;
}

.t-category {
  border-left: 5px solid red;
  padding-left: 10px;
  font-size: 4.5vw;
}

.t-menu-pic {
  width: 100%;
  margin: 42px 0 5px;
}

.t-nav-name {
  font-size: 8px;
}
