.t-wordmark {
  color: yellow;
  text-shadow: 4px 4px 6px green;
  font-size: 28px;
}

.t-tagline {
  font-size: 15px;
  text-shadow: 0.5px 0.5px 0 white, -0.5px -0.5px 0 white;
}

.t-nav-list-item {
  color: white;
}

.t-fa {
  text-shadow: 1px 1px 3px rgb(51,51,51);
  padding: 10.2px;
  width: 48.4px;
}

.t-fa:active {
  color: #eee;
  text-shadow: -1px -1px 3px rgb(51,51,51);
  background: rgba(51,51,51,0.3);
  border-radius: 50%;
}

.t-pane h2 {
  margin-top: 80px;
  text-align: center;
  display: block;
  padding: 20px;
  color: green;
}

.t-about {
  background: rgba(255,255,255,0.8);
  height: 100%;
  text-align: center;
  overflow: scroll;
  padding: 10px;
}

.t-about p {
  text-align: left;
}

.t-about img {
  width: 50%;
  border-radius: 50%;
  margin: 0 10px 10px;
}
