.t-menu-item-name {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.t-menu-item {
  /* background: #F9F9EB; */
  margin: 5px 0;
  /* padding: 7px; */
  width: 100%;
}

.t-menu-header {
  /* background: linear-gradient(#E3E3D6, #F9F9EB); */
  background: #f9f9eb;
  /*box-shadow: 0 0 20px black;*/
}

.t-menu-text {
  color: black;
  line-height: 1.5;
  margin: 0;
}

.t-category {
  border-left: 5px solid red;
  padding-left: 10px;
  font-size: 4.5vw;
}

.t-category-list {
  background: white;
}

.t-menu-pic {
  width: 100%;
  margin: 42px 0 5px;
}
