.t-wordmark {
  color: yellow;
  text-shadow: 2px 2px 6px green;
  font-size: 28px;
}

.t-tagline {
  font-size: 15px;
  text-shadow: 0.5px 0.5px 0 white, -0.5px -0.5px 0 white;
}

.t-nav-list-item {
  color: white;
}

.t-fa {
  text-shadow: 1px 1px 3px rgb(51,51,51);
}
